<div class="bars">
  <div class="bars-nav">
    <ul class="js-performance-type bars-nav__list bars-nav__list--big">
      <li class="bars-nav__item"><a class="bars-nav__link is-active" data-target="games" href="#">Игры</a></li>
      <li class="bars-nav__item"><a class="bars-nav__link" data-target="content" href="#">Создание контента</a></li>
    </ul>
    <ul class="bars-nav__list bars-nav__list--small">
      <li class="bars-nav__item"><a class="bars-nav__link is-active" href="#">1080P</a></li>
      <li class="bars-nav__item"><a class="bars-nav__link" href="#">2K</a></li>
      <li class="bars-nav__item"><a class="bars-nav__link" href="#">4K</a></li>
    </ul>
  </div>
  <div class="bars__tab is-open" data-target="games">
    <div class="perf-bar">
      <div class="perf-bar__title">GTA5 (FullHD ULTRA)</div>
      <div class="perf-bar__bar" style="width: 30%;"></div>
      <div class="perf-bar__value">
        <span>43</span> FPS
        <div class="perf-bar__value-note">больше-лучше</div>
      </div>
    </div>
    <div class="perf-bar">
      <div class="perf-bar__title">Battlefield 1 (FullHD ULTRA)</div>
      <div class="perf-bar__bar" style="width: 36%;"></div>
      <div class="perf-bar__value">
        <span>70</span> FPS
        <div class="perf-bar__value-note">больше-лучше</div>
      </div>
    </div>
    <div class="perf-bar">
      <div class="perf-bar__title">Overwatch (FullHD ULTRA)</div>
      <div class="perf-bar__bar" style="width: 38%;"></div>
      <div class="perf-bar__value">
        <span>72</span> FPS
        <div class="perf-bar__value-note">больше-лучше</div>
      </div>
    </div>
    <div class="perf-bar">
      <div class="perf-bar__title">CS:GO (FullHD ULTRA)</div>
      <div class="perf-bar__bar" style="width: 24%;"></div>
      <div class="perf-bar__value">
        <span>110</span> FPS
        <div class="perf-bar__value-note">больше-лучше</div>
      </div>
    </div>
    <div class="perf-bar">
      <div class="perf-bar__title">PUBG (FullHD ULTRA)</div>
      <div class="perf-bar__bar" style="width: 30%;"></div>
      <div class="perf-bar__value">
        <span>38</span> FPS
        <div class="perf-bar__value-note">больше-лучше</div>
      </div>
    </div>
    <div class="perf-bar">
      <div class="perf-bar__title">GTA5 (FullHD ULTRA)</div>
      <div class="perf-bar__bar" style="width: 30%;"></div>
      <div class="perf-bar__value">
        <span>43</span> FPS
        <div class="perf-bar__value-note">больше-лучше</div>
      </div>
    </div>
    <div class="perf-bar">
      <div class="perf-bar__title">Battlefield 1 (FullHD ULTRA)</div>
      <div class="perf-bar__bar" style="width: 36%;"></div>
      <div class="perf-bar__value">
        <span>70</span> FPS
        <div class="perf-bar__value-note">больше-лучше</div>
      </div>
    </div>
    <div class="perf-bar">
      <div class="perf-bar__title">Overwatch (FullHD ULTRA)</div>
      <div class="perf-bar__bar" style="width: 38%;"></div>
      <div class="perf-bar__value">
        <span>72</span> FPS
        <div class="perf-bar__value-note">больше-лучше</div>
      </div>
    </div>
  </div>
  <div class="bars__tab" data-target="content">
    <div class="perf-bar">
      <div class="perf-bar__title">Рендеринг</div>
      <div class="perf-bar__bar" style="width: 46%;"></div>
    </div>
    <div class="perf-bar">
      <div class="perf-bar__title">Обработка видео H264</div>
      <div class="perf-bar__bar" style="width: 35%;"></div>
    </div>
    <div class="perf-bar">
      <div class="perf-bar__title">Многозадачность</div>
      <div class="perf-bar__bar" style="width: 60%;"></div>
    </div>
  </div>
  <div class="bars__edit">
    <a href="#">Изменить</a>
  </div>
</div>