<footer class="footer">
  <div class="footer__price-block">
    <p class="footer__price">70 000 <span class="footer__price-currency">р.</span></p>
    <p class="footer__month-price">4 375 руб./мес</p>
  </div>
  <button class="js-config-edit footer__button footer__button--edit" type="button">
    <svg class="footer__button-icon" aria-hidden="true">
      <use xlink:href="#edit" />
    </svg>
  </button>
  <button class="js-graphs footer__button footer__button--graphs" type="button">
    <svg class="footer__button-icon" aria-hidden="true">
      <use xlink:href="#graphs-icon" />
    </svg>
  </button>
  <button class="js-save footer__button footer__button--save" type="button">
    <svg class="footer__button-icon" aria-hidden="true">
      <use xlink:href="#save" />
    </svg>
  </button>
  <a class="footer__buy-button js-add2cart" href="#">Купить</a>
  <a class="footer__buy-button js-make-order" href="#">Оформить заказ</a>
</footer>