<header class="header">
  <a class="header__back" href="#">
    <svg class="header__back-icon" aria-hidden="true">
      <use xlink:href="#back" />
    </svg>
    Назад
  </a>
  <a class="header__personal" href="#">
    <svg class="header__personal-icon" aria-hidden="true">
      <use xlink:href="#user" />
    </svg>
  </a>
  <a class="header__cart" href="#">
    <span class="header__cart-count">2</span>
    <svg class="header__cart-icon" aria-hidden="true">
      <use xlink:href="#cart" />
    </svg>
  </a>
</header>