<div id="more_1" class="popup popup--light">
  <div class="popup__inner">
    <p class="popup__title">ASUS TUF Gaming K5 Keyboard</p>
    <p>ASUS TUF Gaming K5 Keyboard - в клавиатуре сочетаются бескомпромиссное удобство и исключительная надежность.</p>
    <p>Благодаря особой конструкции переключателей Mech-Brane каждое нажатие на клавиши ощущается максимально отчетливо, а корпус обра ботан износостойким покрытием и защищен от попадания влаги – долговечность гарантирована!</p>
    <table>
      <tr>
        <td class="heading">Тип переключателей</td>
        <td>mech</td>
      </tr>
      <tr>
        <td class="heading">Подсветка RGB</td>
        <td>есть</td>
      </tr>
      <tr>
        <td class="heading">Количество клавиш</td>
        <td>110</td>
      </tr>
      <tr>
        <td class="heading">Частота опроса</td>
        <td>1000Hz</td>
      </tr>
      <tr>
        <td class="heading">Срок службы</td>
        <td>5 млн.</td>
      </tr>
      <tr>
        <td class="heading">Вес клавиатуры</td>
        <td>1050 г</td>
      </tr>
      <tr>
        <td class="heading">Интерфейс подключения</td>
        <td>USB</td>
      </tr>
      <tr>
        <td class="heading">Гарантии от производителя</td>
        <td>1 год</td>
      </tr>
    </table>
  </div>
</div>

<div id="config-popup" class="popup">
  <div class="popup__inner">
    <p class="popup__title">Итоговая конфигурация</p>
    <p class="popup__note">Проверьте конфигурацию перед оформлением заказа:</p>
    <p class="config-title"><span>Игровой компьютер:</span> <span>1 шт.</span></p>
    <table>
      <tr>
        <td class="heading">Процессор:</td>
        <td>4-ядерный Intel Core i3-9100F 3.60 GHz</td>
      </tr>
      <tr>
        <td class="heading">Кулер:</td>
        <td>Воздушная система охлаждения</td>
      </tr>
      <tr>
        <td class="heading">Сист. плата:</td>
        <td>Материнская плата B360M</td>
      </tr>
      <tr>
        <td class="heading">Опер. память:</td>
        <td>8GB (2x4Gb) DDR4 2400Mhz</td>
      </tr>
      <tr>
        <td class="heading">Видеокарта:</td>
        <td>NVIDIA GeForce GTX 1660 6G</td>
      </tr>
      <tr>
        <td class="heading">SSD накопитель:</td>
        <td>SSD 240GB - x1</td>
      </tr>
      <tr>
        <td class="heading">НDD накопитель:</td>
        <td>Жесткий диск 1TB - x1</td>
      </tr>
      <tr>
        <td class="heading">Корпус:</td>
        <td>Cooler Master MasterBox Q300L</td>
      </tr>
      <tr>
        <td class="heading">Блок питания:</td>
        <td>500W Plus</td>
      </tr>
    </table>
    <p class="config-title"><span>СЕРВИС И ГАРАНТИЯ:</span> <span>1 шт.</span></p>
    <div class="service-guarantee">
      <p><span class="color-grey">Гарантия:</span> Базовая гарантия 12 месяцев</p>
      <p>Бесплатный гарантийный ремонт и удаленная диагностика неисправности в течение 12 месяцев. Затраты на транспортировку до сервисного центра оплачивает покупатель</p>
      <p><span class="color-grey">Дополнительная упаковка:</span> Стандартная упаковка</p>
    </div>
    <p class="config-total">
      <span class="config-total__text">Итого:</span>
      <span class="config-total__cost">70 000 <span class="config-total__currency">руб.</span></span>
    </p>
  </div>
</div>

<div id="graphs-popup" class="popup popup--light">
  <div class="popup__inner">
    <div class="bars">
      <div class="bars-nav">
        <ul class="js-performance-type bars-nav__list bars-nav__list--big">
          <li class="bars-nav__item"><a class="bars-nav__link is-active" data-target="games" href="#">Игры</a></li>
          <li class="bars-nav__item"><a class="bars-nav__link" data-target="content" href="#">Создание контента</a></li>
        </ul>
        <ul class="bars-nav__list bars-nav__list--small">
          <li class="bars-nav__item"><a class="bars-nav__link is-active" href="#">1080P</a></li>
          <li class="bars-nav__item"><a class="bars-nav__link" href="#">2K</a></li>
          <li class="bars-nav__item"><a class="bars-nav__link" href="#">4K</a></li>
        </ul>
      </div>
      <div class="bars__tab is-open" data-target="games">
        <div class="perf-bar">
          <div class="perf-bar__title">GTA5 (FullHD ULTRA)</div>
          <div class="perf-bar__bar" style="width: 30%;"></div>
          <div class="perf-bar__value">
            <span>43</span> FPS
            <div class="perf-bar__value-note">больше-лучше</div>
          </div>
        </div>
        <div class="perf-bar">
          <div class="perf-bar__title">Battlefield 1 (FullHD ULTRA)</div>
          <div class="perf-bar__bar" style="width: 36%;"></div>
          <div class="perf-bar__value">
            <span>70</span> FPS
            <div class="perf-bar__value-note">больше-лучше</div>
          </div>
        </div>
        <div class="perf-bar">
          <div class="perf-bar__title">Overwatch (FullHD ULTRA)</div>
          <div class="perf-bar__bar" style="width: 38%;"></div>
          <div class="perf-bar__value">
            <span>72</span> FPS
            <div class="perf-bar__value-note">больше-лучше</div>
          </div>
        </div>
        <div class="perf-bar">
          <div class="perf-bar__title">CS:GO (FullHD ULTRA)</div>
          <div class="perf-bar__bar" style="width: 24%;"></div>
          <div class="perf-bar__value">
            <span>110</span> FPS
            <div class="perf-bar__value-note">больше-лучше</div>
          </div>
        </div>
        <div class="perf-bar">
          <div class="perf-bar__title">PUBG (FullHD ULTRA)</div>
          <div class="perf-bar__bar" style="width: 30%;"></div>
          <div class="perf-bar__value">
            <span>38</span> FPS
            <div class="perf-bar__value-note">больше-лучше</div>
          </div>
        </div>
        <div class="perf-bar">
          <div class="perf-bar__title">GTA5 (FullHD ULTRA)</div>
          <div class="perf-bar__bar" style="width: 30%;"></div>
          <div class="perf-bar__value">
            <span>43</span> FPS
            <div class="perf-bar__value-note">больше-лучше</div>
          </div>
        </div>
        <div class="perf-bar">
          <div class="perf-bar__title">Battlefield 1 (FullHD ULTRA)</div>
          <div class="perf-bar__bar" style="width: 36%;"></div>
          <div class="perf-bar__value">
            <span>70</span> FPS
            <div class="perf-bar__value-note">больше-лучше</div>
          </div>
        </div>
        <div class="perf-bar">
          <div class="perf-bar__title">Overwatch (FullHD ULTRA)</div>
          <div class="perf-bar__bar" style="width: 38%;"></div>
          <div class="perf-bar__value">
            <span>72</span> FPS
            <div class="perf-bar__value-note">больше-лучше</div>
          </div>
        </div>
      </div>
      <div class="bars__tab" data-target="content">
        <div class="perf-bar">
          <div class="perf-bar__title">Рендеринг</div>
          <div class="perf-bar__bar" style="width: 46%;"></div>
        </div>
        <div class="perf-bar">
          <div class="perf-bar__title">Обработка видео H264</div>
          <div class="perf-bar__bar" style="width: 35%;"></div>
        </div>
        <div class="perf-bar">
          <div class="perf-bar__title">Многозадачность</div>
          <div class="perf-bar__bar" style="width: 60%;"></div>
        </div>
      </div>
      <div class="bars__edit">
        <a class="js-popup-close" href="#">Изменить</a>
      </div>
    </div>
  </div>
</div>

<div id="save-popup" class="popup popup--transaprent">
  <div class="popup__top">
    <button class="js-popup-close popup__close" type="button">
      <svg class="popup__close-icon" aria-hidden="true">
        <use xlink:href="#close" />
      </svg>
    </button>
  </div>
  <div class="popup__inner">
    <p class="popup__title">СОХРАНЕНИЕ<br> КОНФИГУРАЦИИ:</p>
    <p class="popup__note">Сохраните Вашу конфигурацию, что бы не потерять информацию или вернуться к ней позднее.</p>
    <p class="popup__note">Рекомендуем отправить конфигурацию на электронную почту. Если Вы зарегистрированы на сайте, она будет доступна в личном кабинете.</p>
    <a class="save-link" href="javascript:void(0)">
      <svg class="save-link__icon" aria-hidden="true">
        <use xlink:href="#save-pdf" />
      </svg>
      Сохранить конфигурацию<br> в PDF файл
    </a>
    <a class="js-send2mail save-link" href="javascript:void(0)">
      <svg class="save-link__icon" aria-hidden="true">
        <use xlink:href="#send-email" />
      </svg>
      Отправить конфигурацию<br> на почту
    </a>
    <a class="js-make-link save-link" href="javascript:void(0)">
      <svg class="save-link__icon" aria-hidden="true">
        <use xlink:href="#make-link" />
      </svg>
      Создать постоянную ссылку
    </a>
  </div>
  <div class="popup__bottom"></div>
</div>

<div id="save-popup2" class="popup popup--transaprent">
  <div class="popup__top">
    <button class="js-popup-close popup__close" type="button">
      <svg class="popup__close-icon" aria-hidden="true">
        <use xlink:href="#close" />
      </svg>
    </button>
  </div>
  <div class="popup__inner">
    <p class="popup__title">ССЫЛКА НА КОНФИГУРАЦИЮ</p>
    <p class="popup__note">Конфигурация успешно сохранена и доступна по постоянной ссылке</p>
    <p>
      <a class="constant-link" href="javascript:void(0)">
        <span class="constant-link__text">https://digital-razor.ru/configurator/883258/</span>
        <svg class="constant-link__icon" aria-hidden="true">
          <use xlink:href="#copy" />
        </svg>
      </a>
    </p>
  </div>
  <div class="popup__bottom"></div>
</div>

<div id="save-popup3" class="popup popup--transaprent">
  <div class="popup__top">
    <button class="js-popup-close popup__close" type="button">
      <svg class="popup__close-icon" aria-hidden="true">
        <use xlink:href="#close" />
      </svg>
    </button>
  </div>
  <div class="popup__inner">
    <p class="popup__title">ОТПРАВИТЬ КОНФИГУРАЦИЮ НА ПОЧТУ</p>
    <p class="popup__note">Вы можете отправить ссылку на конфигурацию себе на электронную почту.</p>
    <form class="popup-form" action="">
      <label class="popup-form__label" for="email">
        <input class="input" id="email" type="text" placeholder="E-mail">
      </label>
      <label class="popup-form__label" for="comment">
        <textarea class="popup__form-textarea textarea" id="comment" placeholder="Ваш вопрос или комментарий"></textarea>
      </label>
      <div class="popup-form__buttons">
        <button class="popup-form__button button button--red" type="submit">Отправить</button>
      </div>
    </form>
  </div>
  <div class="popup__bottom"></div>
</div>