<div class="list list--type_2">
  <div class="list__item">
    <label class="component" for="comp_1">
      <input id="comp_1" type="radio" name="processor" value="R5 3600X" checked>
      <div class="component__inner">
        <div class="component__top">
          <div class="component__image"><img src="images/content/img_3.png" alt="RYZEN"></div>
          <div class="component__title">R5 3600X</div>
        </div>
        <div class="component__bottom">AMD Ryzen 6-и ядерный 3800MHZ</div>
      </div>
    </label>
    <label class="component" for="comp_2">
      <input id="comp_2" type="radio" name="processor" value="R5 3600X">
      <div class="component__inner">
        <div class="component__top">
          <div class="component__image"><img src="images/content/img_3.png" alt="RYZEN"></div>
          <div class="component__title">R5 3600X</div>
        </div>
        <div class="component__bottom">AMD Ryzen 6-и ядерный 3800MHZ</div>
      </div>
    </label>
    <label class="component" for="comp_3">
      <input id="comp_3" type="radio" name="processor" value="R5 3600X">
      <div class="component__inner">
        <div class="component__top">
          <div class="component__image"><img src="images/content/img_3.png" alt="RYZEN"></div>
          <div class="component__title">R5 3600X</div>
        </div>
        <div class="component__bottom">AMD Ryzen 6-и ядерный 3800MHZ</div>
      </div>
    </label>
    <label class="component" for="comp_4">
      <input id="comp_4" type="radio" name="processor" value="R5 3600X">
      <div class="component__inner">
        <div class="component__top">
          <div class="component__image"><img src="images/content/img_3.png" alt="RYZEN"></div>
          <div class="component__title">R5 3600X</div>
        </div>
        <div class="component__bottom">AMD Ryzen 6-и ядерный 3800MHZ</div>
      </div>
    </label>
  </div>
  <div class="list__item">
    <label class="component" for="comp_5">
      <input id="comp_5" type="radio" name="processor" value="R5 3600X">
      <div class="component__inner">
        <div class="component__top">
          <div class="component__image"><img src="images/content/img_4.png" alt="Intel"></div>
          <div class="component__title">R5 3600X</div>
        </div>
        <div class="component__bottom">Intel Core 6-ти ядерный 3800MHZ</div>
      </div>
    </label>
    <label class="component" for="comp_6">
      <input id="comp_6" type="radio" name="processor" value="R5 3600X">
      <div class="component__inner">
        <div class="component__top">
          <div class="component__image"><img src="images/content/img_4.png" alt="Intel"></div>
          <div class="component__title">R5 3600X</div>
        </div>
        <div class="component__bottom">Intel Core 6-ти ядерный 3800MHZ</div>
      </div>
    </label>
    <label class="component" for="comp_7">
      <input id="comp_7" type="radio" name="processor" value="R5 3600X">
      <div class="component__inner">
        <div class="component__top">
          <div class="component__image"><img src="images/content/img_4.png" alt="Intel"></div>
          <div class="component__title">R5 3600X</div>
        </div>
        <div class="component__bottom">Intel Core 6-ти ядерный 3800MHZ</div>
      </div>
    </label>
    <label class="component" for="comp_8">
      <input id="comp_8" type="radio" name="processor" value="R5 3600X">
      <div class="component__inner">
        <div class="component__top">
          <div class="component__image"><img src="images/content/img_4.png" alt="Intel"></div>
          <div class="component__title">R5 3600X</div>
        </div>
        <div class="component__bottom">Intel Core 6-ти ядерный 3800MHZ</div>
      </div>
    </label>
  </div>
</div>